.mainPage{
  width: 100%;
  background-color: #F8F8F8
}
.mainPage_backgorund{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #F8F8F8
}
.header{
  height: 80px;
  background-color: white;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentTitle{
  width: 736px;
  font-family: Verdana;
  font-size: 40px;
  line-height: 49px;
  color: #2B2829;
}

.tabs_wrapper{
  width: 736px;
}

.company_tab__wrapper{
  display: flex;
  justify-content: left
}

.company_tab{
  padding: 8px 24px 11px 24px;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  color: #B9B9B9;
  cursor: pointer;
  margin-right: 4px;
}

.company_tab__active{
  border-top: 2px solid #F50634;
  padding: 6px 24px 11px 24px;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  color: #2B2829;
  background-color: white;
  cursor: pointer;
}

.company_tab__active .countOfCompanies{
  color: #F50634;
}
